.loadingDots::after {
  content: '';
  animation: dots 2s linear infinite;
  display: inline-block;
  width: 1.5em;
}

@keyframes dots {
  0% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75% { content: '...'; }
  100% { content: ''; }
}
